<ion-header style="background-color: #fff" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test de AriGroup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (submit)="enviarMensaje()"> 
    <ion-input
      type="text"
      class="input"
      placeholder="Ingresa tu nombre"
      name="nombre"
      [(ngModel)]="mensaje"
    >
    </ion-input>
    <div class="error" *ngIf="mostrarError">
      <span> 
        <ion-icon name="alert-circle-outline"></ion-icon> 
        El nombre es obligatorio
      </span>
    </div>
    <div class="centrarBtn">
      <ion-button 
        class="btn" 
        color="secondary"  
        type="submit" 
      >
        Enviar
      </ion-button>
    </div>
  </form>
</ion-content>
